@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700&display=swap");
h1 {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 38px;
  /* identical to box height, or 79% */

  display: flex;
  align-items: center;

  color: #ab05f2;
}
p {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  /* or 167% */

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.66);
}
body {
  background: #000;
}
input {
  background: #121314;
  border-radius: 8px;
  display: block;
  margin: 15px;
}
* {
  box-sizing: border-box;
}
